:root {
    --dark-bg: #222222;
    --less-dark-bg: #403e41;
    --light-bg: #575757;

    --main-accent: #2bd1d4;
    --main-accent-2: #008F8F;

    --confirm-accent: #33CCA6;
}

h1 {font-family: sans-serif; color: white;}
h2 {font-family: sans-serif; color: white;}
p {font-family: sans-serif; color: white;}
html {background: var(--dark-bg);}

.big-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.sensor {
	border: 3px solid var(--main-accent);
	border-radius: 25px;
	padding: 10px;
	margin: 2px;
}

.progress-ring__circle {
    stroke-dasharray: 326.7256;
    transform: rotate(-225deg);
    transform-origin: 50% 50%;
    fill: transparent;
	r: 52;
    cx: 60;
    cy: 60;
    stroke-width: 6;
}


.numeric {
	position: relative;
    display: inline-block; /* <= shrinks container to image size */
    margin: 0;
    border: 3px solid var(--main-accent);
    width: 100%;
    text-align: center;
    padding: 10px 0;
}


.numeric img { /* <= optional, for responsiveness */
	display: block;
	height: auto;
	/* margin: 20% 23% 23% 23%; */
	position: absolute;
    top: 50%;
    left: 50%;
	/* transform-origin: 50% 50%; */
    transform: translate(-50%, -65%) rotate(-90deg);
	max-width: 60px;


}

.footer-flex {
	background: #223333;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	font-family: sans-serif;
}

.footer-item ul {
	list-style-type: none;
	color: white;
}

.footer-item ul li a {
	display: inline;
	vertical-align: middle;
	text-decoration: none;
	color: white;
}

.footer-item ul li a img {
	vertical-align: middle;
	padding: 3px;
}

.footer-item {
	min-width: 30%;
}

img.socials-logo {
	max-width: 32px;
}

img#reddit {
	filter: invert(40%) sepia(97%) saturate(2927%) hue-rotate(1deg) brightness(102%) contrast(105%);
}

img#spotify {
	filter: invert(55%) sepia(21%) saturate(1689%) hue-rotate(88deg) brightness(100%) contrast(83%);
}

img#github {
	filter: invert(36%) sepia(16%) saturate(1480%) hue-rotate(222deg) brightness(95%) contrast(89%);
}

img#twitter {
	filter: brightness(0) saturate(100%) invert(64%) sepia(38%) saturate(6892%) hue-rotate(176deg) brightness(98%) contrast(93%);
}

/*
.numeric svg {
	position: absolute;
	top: 0;
	left: 0;
}
*/

#content {
	background: var(--less-dark-bg);
	margin: 1% 10%;
	padding-top: 2%
}

.menubar {
    position: sticky;
	background: var(--main-accent);
	border: 0 gray;
	top: 0;
	left: 0;
	/* display: block; */
	width: 100%;
	z-index: 9999;
	/* position: fixed; */
}

.menubar ul {
    top: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menubar li {
	float: left;
	font-family: sans-serif;
	font-size: larger;
	font-weight: bold;
	color: #000;
	/* border-right:2px;
	border-color:black; */
}

.menubar li a, .menubar li a:link, .menubar li a:visited {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 10px 20px;
}

.menubar li:hover {
	color: blue; /*#0000FF*/
	background-color: #909090;
}

.menubar li#active {
	background-color: var(--main-accent-2);
}

.menubar li#active a, a:link, a:visited {
	color: black;
}

.menubar li.right {
	float: right;
}

.break p {
	padding-top: 20px;
}

img.post {
	max-height: 500px;
}

