:root {
    --dark-bg: #222222;
    --less-dark-bg: #403e41;
    --light-bg: #575757;

    --main-accent: #2bd1d4;
    --main-accent-2: #008F8F;

    --confirm-accent: #33CCA6;
}

h1 {font-family: sans-serif; color: white;}
h2 {font-family: sans-serif; color: white;}
p {font-family: sans-serif; color: white;}
html {background: var(--dark-bg);}

.big-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

}

.sensor {
	border: 3px solid var(--main-accent);
	border-radius: 25px;
	padding: 10px;
	margin: 2px;
}

.progress-ring__circle {
    stroke-dasharray: 326.7256 326.7256;
    transform: rotate(-225deg);
    transform-origin: 50% 50%;
    fill: transparent;
	r: 52;
    cx: 60;
    cy: 60;
    stroke-width: 6;
}


.numeric {
	position: relative;
    display: inline-block; /* <= shrinks container to image size */
    margin: 10px;
    border: 3px solid var(--main-accent);
    width: 100%;
}


.numeric img { /* <= optional, for responsiveness */
	display: block;
	height: auto;
	margin: 20% 23% 23% 23%;
	transform: rotate(-90deg);
	/* transform-origin: 50% 50%; */
	max-width: 60px;
}


.numeric svg {
	position: absolute;
	top: 0;
	left: 0;
}


#content {
	background: var(--less-dark-bg);
	margin: 1% 10%;
	padding-top: 2%
}


.menubar {
    position: sticky;
	background: var(--main-accent);
	border: 0px;
	border-color: gray;
	top: 0;
	left: 0;
	/* display: block; */
	width: 100%;
	z-index: 9999;
	/* position: fixed; */
}

.menubar ul {
    top: 0;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menubar li {
	float: left;
	font-family: sans-serif;
	font-size: larger;
	font-weight: bold;
	color: #000;
	/* border-right:2px;
	border-color:black; */
}

.menubar li a, a:link, a:visited {
	text-decoration: none;
	color: #000;
	display: block;
	padding: 10px 20px;
}

.menubar li:hover {
	color: blue;#0000FF
	background-color: #909090;
}

li#active {
	background-color: var(--main-accent-2);
}

li#active a, a:link, a:visited {
	color: black;
}

.menubar li.right {
	float: right;
}

.break p {
	padding-top: 20px;
}

img.post {
	max-height: 500px;
}
