body{
	display: flex;
	justify-content: center;
	font-size: 160%;
	flex-direction: column;
}
form {
	text-align: center;
}

div.form {
	width: 30%;
}

div.error {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	background: red;
	border: 2px solid #500000;
	color: white;
	border-radius: 10px;
	padding-left: 5%;
	padding-right: 5%;
}

div.success {
	font-family: 'Poppins', sans-serif;
	text-align: center;
	background: mediumseagreen;
	color: #003000;
	border: 2px solid darkgreen;
	border-radius: 10px;
	min-height: 40%;
	padding-left: 5%;
	padding-right: 5%;
}

.success h1 {
	font-family: 'Poppins', sans-serif;
}

.success p {
	font-family: 'Poppins', sans-serif;
}

input {
	width: 100%;
	padding: 10px;
	margin: 2.5%;
	border-radius: 5px;
	border: 1px solid #003000;
	font-size: 100%;
}