<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script type="text/javascript" src="static/scripts.js"></script>
	</head>
	<body>
		<div class="banner"><img src="static/bannertest.png" alt=""/></div>
		<nav class="menubar">
			<ul>
		    {% if current_user.is_authenticated %}
				{% if current_user.role == "admin" %}
					{% for item in nav.admin %}
					<li id="{{ 'active' if item.is_active else '' }}" class="{{ item.html_attrs['class'] }}">
						<a href="{{ item.url }}">{{ item.label }}</a>
					</li>
					{% endfor %}
				{% else %}
					{% for item in nav.user %}
					<li id="{{ 'active' if item.is_active else '' }}" class="{{ item.html_attrs['class'] }}">
						<a href="{{ item.url }}">{{ item.label }}</a>
					</li>
					{% endfor %}
				{% endif %}
		    {% else %}
					{% for item in nav.guest %}
					<li id="{{ 'active' if item.is_active else '' }}" class="{{ item.html_attrs['class'] }}">
							<a href="{{ item.url }}">{{ item.label }}</a>
					</li>
					{% endfor %}
		    {% endif %}
			</ul>
		</nav>


		<div id="content">
			{% block content %}
			{% endblock %}
		</div>

		<div class="footer-flex">
			
			<div class="footer-item">
				<ul>
					<li class="bold">Attributions:</li>
					<li>Some icons made by <a href="https://www.flaticon.com/authors/chanut" title="Chanut">Chanut</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
					<li>Some icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
				</ul>
			</div>
			
			<div class="footer-item">
				<ul>
					<li><a href="https://www.reddit.com/user/mattl1698"><img src="{{ url_for('static', filename='reddit logo.svg') }}" alt="Reddit Logo" class="socials-logo" id="reddit">&nbsp;u/mattl1698</a></li>
					<li><a href="https://open.spotify.com/user/ykp1s3z2l4feug463dusavxsx"><img src="{{ url_for('static', filename='spotify.svg') }}" alt="Spotify Logo" class="socials-logo" id="spotify">&nbsp;Spotify</a></li>
					<li><a href="https://github.com/mattl1598/"><img src="{{ url_for('static', filename='github.svg') }}" alt="Github Logo" class="socials-logo" id="github">&nbsp;/mattl1598</a></li>
					<li><a href="https://twitter.com/mattl1598/"><img src="{{ url_for('static', filename='twitter-circle.svg') }}" alt="Twitter Logo" class="socials-logo" id="twitter">&nbsp;@mattl1598</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
