{% extends 'layout.html' %}
{% block content %}
<div class="big-container">
{% for sensor, dict in sensors.items() %}
	<div class="sensor">
		<h2>{{ dict["name"] }}</h2> <br>
		{% for key, value in dict["values"].items() %}
			{% if isinstance(value, int) %}
				<div class="numeric">
					<img src="{{ url_for('static', filename='battery-with-a-bolt.svg') }}"/>
					<svg class="progress-ring" width="120"height="120">
						<circle class="progress-ring__circle" stroke="#222222" stroke-dashoffset="{{ 327 - (100*270*0.9083/100) }}"/>
		                <circle class="progress-ring__circle" stroke="white" stroke-dashoffset="{{ 327 - (value*270*0.9083/100) }}"/>
					</svg>
				</div>
				<br>
			{% else %}
				{{ value }}
			{% endif %}
		{% endfor %}
<!--	{{ dump(sensors[sensor]) }}-->
	</div>
{% endfor %}
</div>
<br>
<br>
{% endblock content %}