<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel="stylesheet" type=text/css href="{{ url_for('static', filename='upload.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"> <!--Poppins-->

<div class="success">
	<h1>Upload Successful</h1>
	<h2>Success Code: {{ result_code }}</h2>
	<p>You can now close this tab.</p>
	<p>Your upload code is now inactive and will not work again.</p>
</div>