<body style="background-color: black;">
    <audio src="http://larby.co.uk/sound/dickwhittington.mp3" controls preload="metadata" id="dw_player" style="width: 100%;">
        Test
        <input type="hidden" id="seeked" value="0"/>
        <input type="hidden" id="viewSent" value="0">
    </audio>
    <p style="color: white">Now Time: <span id="now_time"></span></p>
    <input type="text">
    <script type="text/javascript" src="http://larby.co.uk/js/whittington_player.js"></script>
</body>
